* {
  margin: 0px;
}

@media only screen and (max-width: 375px) {
  body {
    width: 375px;
    background-image: url(../images/bg-pattern-top-desktop.svg), url(../images/bg-pattern-bottom-desktop.svg);
    background-position: left top, right bottom -10rem;
    background-repeat: no-repeat;
    background-size: 35%, 80%;
    background-attachment: scroll;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 55wh;
    width: 100;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20%;
    margin-bottom: 20%;
  }
  .first .title-paragraph {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    height: 90%;
    margin-bottom: 6%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .first .title-paragraph .title {
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 5%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    font-size: 0.9em;
    font-family: "Spartan", sans-serif;
    color: #502050;
  }
  .first .title-paragraph .paragraph {
    margin-left: 3%;
    margin-right: 3%;
    width: 95%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 0.95em;
    font-family: "Spartan", sans-serif;
    color: #937b92;
  }
  .first .boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 90%;
    width: 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .first .boxes .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 75%;
    height: 90%;
    padding: 2%;
    margin-bottom: 5%;
    border-radius: 10px;
    font-size: 0.8em;
    font-family: "Spartan", sans-serif;
    color: #502050;
    background-color: #f7f2f7;
  }
  .first .boxes .box .stars {
    margin-bottom: 3%;
  }
  .opinions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 55wh;
    width: 100vw;
  }
  .opinions .box-opinion {
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 7%;
    border-radius: 5px;
    background-color: #502050;
  }
  .opinions .box-opinion .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 8%;
  }
  .opinions .box-opinion .header .picture-profile {
    width: 70%;
    height: auto;
    border-radius: 75%;
  }
  .opinions .box-opinion .header .information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 8%;
    width: 90%;
  }
  .opinions .box-opinion .header .information .name {
    font-size: 0.9em;
    font-family: "Spartan", sans-serif;
    color: white;
  }
  .opinions .box-opinion .header .information .description {
    font-size: 0.7em;
    font-family: "Spartan", sans-serif;
    color: #ee68a4;
  }
  .opinions .box-opinion .opinion {
    font-size: 0.75em;
    font-family: "Spartan", sans-serif;
    line-height: 1.75em;
    color: white;
  }
}

@media only screen and (max-width: 1440px) and (min-width: 376px) {
  body {
    width: 1440px;
    background-image: url(../images/bg-pattern-top-desktop.svg), url(../images/bg-pattern-bottom-desktop.svg);
    background-position: left top, right bottom -10rem;
    background-repeat: no-repeat;
    background-size: 35%, 80%;
    background-attachment: scroll;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 30%;
    width: 100vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 5%;
  }
  .first .title-paragraph {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    height: 30%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .first .title-paragraph .title {
    /* margin-left:10%;//margen izqquierdo
                margin-right: 10%;//margen derecho
                margin-bottom: 5%;*/
    margin: 0% 10% 2% 10%;
    padding: 3%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: start;
    font-size: 2em;
    font-family: "Spartan", sans-serif;
    color: #502050;
  }
  .first .title-paragraph .paragraph {
    margin-left: 10%;
    margin-right: 10%;
    padding: 0% 3% 3% 3%;
    /*
                margin-left:3%;//margen izqquierdo*
                margin-right: 3%;//margen derecho*/
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: start;
    font-size: 1.5em;
    font-family: "Spartan", sans-serif;
    color: #937b92;
  }
  .first .boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 47.5vh;
    /* height: 100%;*/
    width: 80%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .first .boxes .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 70%;
    height: 12.5%;
    margin-bottom: 5%;
    border-radius: 10px;
    font-size: 0.85em;
    font-family: "Spartan", sans-serif;
    color: #502050;
    background-color: #f7f2f7;
  }
  .first .boxes .box .stars {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .first .boxes .box p {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: 3%;
  }
  .first .boxes #box-2 {
    margin-left: 7.5%;
  }
  .first .boxes #box-3 {
    margin-left: 15%;
  }
  .opinions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 30%;
    width: 100vw;
    margin-top: 5%;
    margin-bottom: 8%;
  }
  .opinions .box-opinion {
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 3%;
    border-radius: 10px;
    height: 70%;
    width: 35%;
    background-color: #502050;
  }
  .opinions .box-opinion .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 8%;
  }
  .opinions .box-opinion .header .picture-profile {
    width: 70%;
    height: auto;
    border-radius: 75%;
  }
  .opinions .box-opinion .header .information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 8%;
    width: 90%;
  }
  .opinions .box-opinion .header .information .name {
    font-size: 1.2em;
    font-family: "Spartan", sans-serif;
    color: white;
  }
  .opinions .box-opinion .header .information .description {
    font-size: 1em;
    font-family: "Spartan", sans-serif;
    color: #ee68a4;
  }
  .opinions .box-opinion .opinion {
    font-size: 1em;
    font-family: "Spartan", sans-serif;
    line-height: 1.75em;
    color: white;
  }
  .opinions #box-opinion-2 {
    margin-top: 1.5%;
  }
  .opinions #box-opinion-3 {
    margin-top: 3%;
  }
}
/*# sourceMappingURL=style.css.map */