* {
  margin: 0px;
  list-style: none;
  font-family: "Spartan", sans-serif;
}

main {
  height: 90vh;
  width: 90vw;
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 6%;
  padding-bottom: 6%;
}

.first {
  -webkit-box-sizing: padding-box;
          box-sizing: padding-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 40vh;
  /*altura*/
  width: 85vw;
  /*anchura*/
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.first .title-paragraph {
  width: 35%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.first .title-paragraph .title {
  width: 100%;
  height: 70%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 19.5px;
  font-weight: 700;
  color: #3e52a3;
}

.first .title-paragraph .paragraph {
  width: 100%;
  height: 30%;
  margin-top: 4%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 15px;
  font-weight: 400;
  color: #937b92;
}

.first .boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: padding-box;
          box-sizing: padding-box;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
  height: 55%;
  font-size: 12px;
  color: #3e52a3;
  font-weight: 700;
}

.first .boxes .box {
  background-color: #f7f2f7;
  border-radius: 5px;
  color: #3e52a3;
  font-weight: 700;
  margin-bottom: 4%;
  margin-top: 0;
  padding: 3%;
  width: 70%;
}

.first .boxes .box p {
  display: inline-block;
  margin-left: 3%;
}

.first .boxes #box-1 {
  margin-left: 2%;
}

.first .boxes #box-2 {
  margin-left: 5%;
}

.first .boxes #box-3 {
  margin-left: 9%;
}

.opinions {
  -webkit-box-sizing: padding-box;
          box-sizing: padding-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 50vh;
  /*altura*/
  width: 85vw;
  /*anchura*/
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.opinions .box {
  margin: 10px;
  padding: 3%;
  border-radius: 10px;
  height: 45%;
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 15px;
  background-color: #3e52a3;
  color: white;
}

.opinions .box .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 40%;
}

.opinions .box .header .picture {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 20%;
  margin-right: 3%;
}

.opinions .box .header .picture .picture-profile {
  border-radius: 50%;
}

.opinions .box .header .information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5%;
  font-weight: 400;
}

.opinions .box .header .information .name {
  font-weight: 700;
}

.opinions .box .opinion {
  margin-top: 8%;
  margin-bottom: 5%;
  font-weight: 500;
}

#box-2 {
  margin-top: 2%;
}

#box-3 {
  margin-top: 4%;
}

@media only screen and (max-width: 375px) {
  main {
    padding: 3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90vw;
  }
  main .first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 50%;
  }
  main .first .title-paragraph {
    padding-top: 30px;
    padding: 20px;
    width: 95%;
    height: 35%;
  }
  main .first .title-paragraph .title {
    font-size: 12px;
    display: block;
    height: 50%;
  }
  main .first .title-paragraph .paragraph {
    font-size: 10.5px;
    display: block;
  }
  main .first .boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 95%;
    height: 40%;
    margin-left: 0px;
  }
  main .first .boxes #box-1 {
    margin-left: 0px;
  }
  main .first .boxes #box-2 {
    margin-left: 0px;
  }
  main .first .boxes #box-3 {
    margin-left: 0px;
  }
  main .first .boxes ul {
    padding: 0px;
  }
  main .first .boxes .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    margin-bottom: 8%;
    width: 90%;
    height: 25%;
  }
  main .first .boxes .box .svg {
    display: block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  main .first .boxes .box p {
    margin-top: 3%;
    display: block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 7.5px;
  }
  main .opinions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 95vw;
    height: 60vh;
  }
  main .opinions .box {
    width: 75%;
    height: 20%;
    font-size: 10.5px;
  }
}
/*# sourceMappingURL=style.css.map */